.comment-list-wrap {
  padding: 1rem 0.5rem;
}
.comment > .comment {
  padding-left: 0.1rem;
  margin-bottom: .2rem;
  border-left: 8px solid rgb(210, 210, 210);
}
.comment-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.comment-author {
  font-weight: bold;
  margin-right: .2rem;
}

.comment-datetime {
  font-size: 0.8rem;
  color: #828282;
}
